@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

html, body{
    font-family: Outfit;
    font-size: 15px;
    margin:0;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

main {
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcard {
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    width: 225px;
    height: 350px;
    padding: 10px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.048)
}

img{
    border-radius: 8px;
}

p {
    margin: 0;
    padding: 10px;
}

.header {
    font-weight: 700;
    font-size: 16px;
    color: hsl(218, 44%, 22%);
    padding-bottom: 0;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    font-size: 12px;
    color:hsl(216, 15%, 48%);
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }